@model IEnumerable<office.Models.ParameterDetails>

@{
    Layout = null;
}
<script src="~/js/jquery-2.1.1.js"></script>

<table class="table" id="parameterlist">
    <thead>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr><td class="multiparameter">@item.Parameter</td><td><i class="fa fa-times deleteParameter pull-right" id="@item.ParameterDetailId" aria-hidden="true"></i></td></tr>
        }

    </tbody>
</table>

<script>
    $(document).on('click', 'i.deleteParameter', function (e) {
        e.preventDefault();
        $(this).parents('tr').remove();
        var id = $(this).attr("id");

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Home/DeleteProjectInformation',
            data:
            {
                Id: id,
                Label: 'ProjectParameterDetail',
            },
            success: function (da) {
                alert(da);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    });
</script>
